[Unit]
Description=DIT3 DICOM receiver service

[Service]
ExecStart=storescp -pm +uf --exec-sync --inetd -od /home/fuentes/wolfpacs/fl
StandardInput=socket
User=fuentes
